<h2>Stop Information</h2>

<table style="border:1px solid black;margin-left:auto;margin-right:auto; width:100%">
  <tr>
    <td style="height:600px;border-right:1px solid black;width:50%;vertical-align:top;padding-top:5px">
      <div><h3> Search for a stop </h3>
        <input type="text">
        <button type="submit" id="stop_search">Search</button>
      </div>
      <hr>
      <div>
        <h3> Select a stop </h2>
        <div style="text-align:left">
          <div style="display:inline-block;width:40%;text-align:right">Route:</div>
          <select>
            <option>30 – North Amherst / Old Belchertown Rd</option>
            <option>31 – Sunderland / South Amherst</option>
            <option>34 – Campus Shuttle Northbound</option>
            <option>34 – Campus Shuttle Southbound</option>
            <option>Amity Shuttle / UMass</option>
            <option>45 – Belchertown Center / UMass</option>
          </select>
        </div>
        <div>
          <div style="display:inline-block;width:40%;text-align:right">Stop:</div>
          <select>
            <option>Arnold House</option>
            <option>LGRC</option>
            <option>Fine Arts Center</option>
            <option>Studio Arts Building</option>
          </select>
        </div>
      </div>
    </td>
    <td style="width:50%;vertical-align:top">
      <h3>Please select a stop</h3>
    </td>
  </tr>
</table>