<h2>Stop Information</h2>

<table style="border:1px solid black;">
  <tr>
    <td style="height:100px;">
      <p>
        <h3> Search for a stop </h3>
        <input type="text">
        <button type="submit" id="stop_search">Submit</button>
      </p>
      <hr>
      <p>
        <h3> Select a stop </h2>
        <p>
          <div style="display:inline-block;width:100px;text-align:right">Route:</div>
          <select>
            <option>30 – North Amherst / Old Belchertown Rd</option>
            <option>31 – Sunderland / South Amherst</option>
            <option>34 – Campus Shuttle Northbound</option>
            <option>34 – Campus Shuttle Southbound</option>
            <option>Amity Shuttle / UMass</option>
            <option>45 – Belchertown Center / UMass</option>
          </select>
        </p>
        <p>
          <div style="display:inline-block;width:100px;text-align:right">Stop:</div>
          <select>
            <option>Arnold House</option>
            <option>LGRC</option>
            <option>Fine Arts Center</option>
            <option>Studio Arts Building</option>
          </select>
        </p>
      </p>
    </td>
    <td>
      <h3>Please select a stop</h3>
    </td>
  </tr>
</table>